.terraform
.terraform.*
terraform.log*
package
!terraform.tfvars
.terraform.lock.hcl
Prod.*
dev.*
terraform_0.14.9_linux_amd64.zip
package-*
terraform.*
terraform.tfstate
terraform.tfstate.*
key.asc
terraform.sh.md
.DS_Store